compatible = "zmk,keymap";

base_layer {
  label = "BASE";
  bindings = <
    // ╭────────────────┬───────────────┬───────────────┬────────────────┬────────────────┬────────────────╮       ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
         SK(LALT)         &kp Q           &kp W           &kp F            &kp P            &kp B                    &kp J            &kp L            &kp U            &kp Y            &kp SQT          XXX 
    // ├────────────────┼───────────────┼───────────────┼────────────────┼────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
         SK(LCTRL)        &kp A           &kp R           &kp S            &kp T            &kp G                    &kp M            &kp N            &kp E            &kp I            &kp O            XXX 
    // ├────────────────┼───────────────┼───────────────┼────────────────┼────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
         SK(LCTRL)        &kp Z           &kp X           &kp C            &kp D            &kp V                    &kp K            &kp H            &kp COMMA        &kp DOT          &kp SLASH        XXX 
    // ╰────────────────┴───────────────┴───────────────┴────────────────┴────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┴────────────────┴────────────────┴────────────────╯
                                                          &kp ESC          U_LT(NAV, SPACE) U_MT(LSHIFT,TAB)         U_MT(LSHIFT,ENTER) U_LT(NUM, BSPC) &kp DEL
    //                                                  ╰────────────────┴────────────────┴────────────────╯       ╰────────────────┴────────────────┴────────────────╯
  >;
};

nav_layer {
  label = "NAV";
  bindings = <
    // ╭────────────────┬───────────────┬───────────────┬────────────────┬────────────────┬────────────────╮       ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
          XXX             XXX             XXX             XXX              XXX              XXX                      XXX              XXX              XXX              XXX              XXX              XXX
    // ├────────────────┼───────────────┼───────────────┼────────────────┼────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
          XXX             XXX             XXX             XXX              XXX              XXX                      &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT        XXX              XXX
    // ├────────────────┼───────────────┼───────────────┼────────────────┼────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
          XXX             XXX             XXX             XXX              XXX              XXX                      XXX              XXX              XXX             XXX              &kp END          &kp INS 
    // ╰────────────────┴───────────────┴───────────────┴────────────────┴────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┴────────────────┴────────────────┴────────────────╯
                                                          ___               ___             ___                      ___              ___              ___
    //                                                  ╰────────────────┴────────────────┴────────────────╯       ╰────────────────┴────────────────┴────────────────╯
  >;
};

num_layer {
  label = "NUM";
  bindings = <

    // ╭─────────────┬────────────┬────────────┬─────────────┬─────────────┬─────────────╮       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
          XXX          &kp GRAVE     &kp N7        &kp N8        &kp N9        &kp EQUAL           XXX           XXX           XXX           &key_repeat   XXX            XXX
    // ├─────────────┼────────────┼────────────┼─────────────┼─────────────┼─────────────┤       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          XXX          &kp N0        &kp N4        &kp N5        &kp N6        &kp MINUS           XXX           XXX           XXX           XXX           XXX            XXX
    // ├─────────────┼────────────┼────────────┼─────────────┼─────────────┼─────────────┤       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          XXX          &kp BSLH      &kp N1        &kp N2        &kp N3        XXX                 XXX           XXX           XXX           XXX           XXX            XXX
    // ╰─────────────┴────────────┴────────────┴─────────────┴─────────────┼─────────────┤       ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                   ___           ___          ___                  ___           ___          ___
    //                                         ╰─────────────┴─────────────┴─────────────╯       ╰─────────────┴─────────────┴─────────────╯
  >;
};
