compatible = "zmk,keymap";

base_layer {
  label = "BASE";
  bindings = <
    // ╭────────────────┬───────────────┬───────────────┬────────────────┬────────────────┬────────────────╮       ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
           SK(LALT)          &kp Q            &kp W           &kp F            &kp P            &kp B                    &kp J            &kp L            &kp U            &kp Y           &kp SQT       &swe_one_morph 
    // ├────────────────┼───────────────┼───────────────┼────────────────┼────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
           SK(LCTRL)         &kp A            &kp R           &kp S            &kp T            &kp G                    &kp M            &kp N            &kp E            &kp I           &kp O         &swe_two_morph 
    // ├────────────────┼───────────────┼───────────────┼────────────────┼────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
           SK(LGUI)          &kp Z            &kp X           &kp C            &kp D            &kp V                    &kp K            &kp H            &kp COMMA        &kp DOT         &kp SLASH     &swe_three_morph 
    // ╰────────────────┴───────────────┴───────────────┴────────────────┴────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┴────────────────┴────────────────┴────────────────╯
                                                              &kp ESC     U_LT(NAV, SPACE) U_MT(LSHIFT,TAB)        U_MT(LSHIFT,ENTER) U_LT(NUM, BSPC)      &kp DEL
    //                                                  ╰────────────────┴────────────────┴────────────────╯       ╰────────────────┴────────────────┴────────────────╯
  >;
};

nav_layer {
  label = "NAV";
  bindings = <
    // ╭────────────────┬───────────────┬───────────────┬────────────────┬────────────────┬────────────────╮       ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
              XXX             XXX             XXX             XXX              XXX              XXX                      XXX              XXX              XXX              XXX              XXX              XXX
    // ├────────────────┼───────────────┼───────────────┼────────────────┼────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
              XXX             XXX             XXX             XXX              XXX              XXX                    &kp LEFT         &kp DOWN          &kp UP          &kp RIGHT          XXX              XXX
    // ├────────────────┼───────────────┼───────────────┼────────────────┼────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
              XXX             XXX             XXX             XXX              XXX              XXX                      XXX              XXX             &kp SEMI        &kp COLON         &kp END          &kp INS 
    // ╰────────────────┴───────────────┴───────────────┴────────────────┴────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┴────────────────┴────────────────┴────────────────╯
                                                              ___               ___             ___                    &kp ENTER        &kp BSPC           ___
    //                                                  ╰────────────────┴────────────────┴────────────────╯       ╰────────────────┴────────────────┴────────────────╯
  >;
};

sym_layer {
  label = "SYM";
  bindings = <
    // ╭────────────────┬───────────────┬───────────────┬────────────────┬────────────────┬────────────────╮       ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
              XXX             XXX          &kp RBKT         &kp AMPS         &kp RBKT           XXX                      XXX              XXX              XXX              XXX              XXX              XXX
    // ├────────────────┼───────────────┼───────────────┼────────────────┼────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
              XXX             XXX          &kp LBRC           XXX            &kp RBRC           XXX                      XXX              XXX              XXX              XXX              XXX              XXX
    // ├────────────────┼───────────────┼───────────────┼────────────────┼────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
              XXX             XXX          &kp LPAR           XXX            &kp RPAR           XXX                      XXX              XXX              XXX              XXX              XXX              XXX
    // ╰────────────────┴───────────────┴───────────────┴────────────────┴────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┴────────────────┴────────────────┴────────────────╯
                                                              ___               ___           &kp UNDER                  ___              ___              ___
    //                                                  ╰────────────────┴────────────────┴────────────────╯       ╰────────────────┴────────────────┴────────────────╯
  >;
};

num_layer {
  label = "NUM";
  bindings = <
    // ╭────────────────┬───────────────┬───────────────┬────────────────┬────────────────┬────────────────╮       ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
              XXX             XXX             XXX             XXX              XXX              XXX                      XXX              XXX              XXX              XXX              XXX              XXX
    // ├────────────────┼───────────────┼───────────────┼────────────────┼────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
              XXX             XXX             XXX             XXX              XXX              XXX                      XXX              XXX              XXX              XXX              XXX              XXX
    // ├────────────────┼───────────────┼───────────────┼────────────────┼────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
              XXX             XXX             XXX             XXX              XXX              XXX                      XXX              XXX              XXX              XXX              XXX              XXX
    // ╰────────────────┴───────────────┴───────────────┴────────────────┴────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┴────────────────┴────────────────┴────────────────╯
                                                              ___               ___             ___                      ___              ___              ___
    //                                                  ╰────────────────┴────────────────┴────────────────╯       ╰────────────────┴────────────────┴────────────────╯
  >;
};

media_layer {
  label = "MEDIA";
  bindings = <
    // ╭────────────────┬───────────────┬───────────────┬────────────────┬────────────────┬────────────────╮       ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
              XXX             XXX             XXX             XXX              XXX              XXX                      XXX              XXX              XXX              XXX              XXX              XXX
    // ├────────────────┼───────────────┼───────────────┼────────────────┼────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
              XXX             XXX             XXX             XXX              XXX              XXX                      XXX              XXX              XXX              XXX              XXX              XXX
    // ├────────────────┼───────────────┼───────────────┼────────────────┼────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
              XXX             XXX             XXX             XXX              XXX              XXX                      XXX              XXX              XXX              XXX              XXX              XXX
    // ╰────────────────┴───────────────┴───────────────┴────────────────┴────────────────┼────────────────┤       ├────────────────┼────────────────┼────────────────┴────────────────┴────────────────┴────────────────╯
                                                              ___               ___             ___                      ___              ___              ___
    //                                                  ╰────────────────┴────────────────┴────────────────╯       ╰────────────────┴────────────────┴────────────────╯
  >;
};
